* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Menlo, "Microsoft YaHei", Tahoma;
}

#json-formatter {
  position: relative;
  margin: 0;
  padding: 2em 1em 1em 2em;
  font-size: 14px;
  line-height: 1.5;
  > pre {
    white-space: pre-wrap;
    &:not(.show-quotes) .quote,
    &:not(.show-commas) .comma {
      display: none;
    }
  }
}

.subtle {
  color: #999;
}
.number {
  color: darkorange;
}
.null {
  color: gray;
}
.key {
  color: brown;
}
.string {
  color: green;
}
.boolean {
  color: dodgerblue;
}
.bracket {
  color: blue;
}
.item {
  cursor: pointer;
}
.content {
  padding-left: 2em;
  .collapse > span > & {
    display: inline;
    padding-left: 0;
    > * {
      display: none;
    }
    &::before {
      content: '...';
    }
  }
}
.complex {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: -.5em;
    bottom: .7em;
    margin-left: -1px;
    border-left: 1px dashed #999;
  }
  &.collapse::before {
    display: none;
  }
}
.folder {
  color: #999;
  position: absolute;
  top: 0;
  left: -1em;
  width: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: transform .3s;
  cursor: pointer;
  .collapse > & {
    transform: rotate(0);
  }
}
.summary {
  color: #999;
  margin-left: 1em;
  *:not(.collapse) > & {
    display: none;
  }
}

.tips {
  position: absolute;
  padding: .5em;
  border-radius: .5em;
  box-shadow: 0 0 1em gray;
  background: white;
  z-index: 1;
  white-space: nowrap;
  color: black;
  &-key {
    font-weight: bold;
  }
  &-val {
    color: dodgerblue;
  }
  &-link {
    color: slateblue;
  }
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  padding: 5px;
  user-select: none;
  z-index: 10;
  > span {
    display: inline-block;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 4px;
    background: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    &.toggle:not(.active) {
      background: none;
    }
  }
}
